<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="5f3da8c5-f8cc-4837-a4a7-871073e6a4ef" Version="1.0.0.0" Publisher="CN=Zhijing" />
  <mp:PhoneIdentity PhoneProductId="5f3da8c5-f8cc-4837-a4a7-871073e6a4ef" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>App5</DisplayName>
    <PublisherDisplayName>Zhijing</PublisherDisplayName>
    <Logo>images\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m3:VisualElements DisplayName="5毛WeatherTest" Square150x150Logo="images\150icon.png" Square44x44Logo="images\44png.png" Description="天气测试应用" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" Square71x71Logo="images\71icon.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="images\SplashScreen480_800.png" BackgroundColor="#4A91FE" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
          <m3:Rotation Preference="landscape" />
          <m3:Rotation Preference="landscapeFlipped" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="musicLibrary" />
    <DeviceCapability Name="location" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>